* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}


button {
    outline: none !important;
    border: none;
    background: transparent;

}

button:hover {
    cursor: pointer;
}
.section-basic {
    padding: 20px;
    width: 100%;
    height: 100%;

}
.form-control{
    line-height: 15px;
    display: block;
    border-radius: 15px;
}
.embed-responsive{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position: relative;
    border-radius: 5px;
}

